<div
  id="about"
  class="about-wrapper"
  fxLayoutAlign="center start"
  fxLayout="column"
  fxLayoutGap="40px"
>
  <h1 i18n>O mně</h1>
  <span i18n
    >Po absolvování studia na Právnické fakultě v Praze v roce 2014 jsem
    působila v menší advokátní kanceláři v centru Prahy. Od roku 2017 vykonávám
    advokacii jako samostatná advokátka, v tomto roce jsem rovněž úspěšně
    složila rigorózní zkoušku. Od roku 2017 dále úzce spolupracuji s renomovanou
    pražskou advokátní kanceláří Biem&Schýbal, advokátní kancelář, s.r.o. Ve své
    právní praxi se věnuji zejména právu rodinnému, občanskému, obchodnímu,
    právní služby poskytuji také v oblasti nemovitostí. Věnuji se dále právnímu
    poradenství v oblasti opatrovnictví a dalších podpůrných opatřeních, kdy
    dlouhodobě úzce spolupracuji s organizací Dementia I.O.V., z.ú., která
    pomáhá neformálním pečujícím i institucím, které poskytují péči lidem
    trpícím Alzheimerovou nemocí nebo jiným typem demence. Své služby rovněž
    poskytuji ředitelům a ředitelkám škol a školských zařízení, kteří se v rámci
    svého postavení setkávají s velice rozličnými právními problémy a musí řešit
    různorodou právní agendu. Ve své práci považuji za klíčové pochopení a
    realizaci skutečných potřeb a zájmů klienta a to, aby klient porozuměl
    právním procesům, které v souvislosti s jeho záležitostí probíhají a byl
    v nich orientován za účelem výběru nejvhodnějšího dalšího postupu. Právní
    služby dle potřeby klienta ráda poskytnu i v cizím jazyce, a to v anglickém,
    německém či španělském.</span
  >
  <h2 i18n>Odměna za právní služby</h2>
  <span i18n
    >Právní služby poskytuji především na základě smluvní odměny. Odměna za
    právní služby je stanovena vždy s ohledem na povahu a složitost každého
    případu individuálně a pohybuje se v rozmezí od 1900 Kč do 2500 Kč/1 hod.
    práce. Výši odměny projednávám s klientem tak, aby obě strany byly
    spokojené. Na žádost klienta mohu připravit konkrétní nezávaznou finanční
    nabídku poptávaných právních služeb.</span
  >
  <h2 i18n>Informace pro spotřebitele – mimosoudní řešení sporu</h2>
  <span i18n>
    V případě sporu mezi klientem a advokátem má spotřebitel právo na mimosoudní
    řešení tohoto sporu vyplývajícího ze smlouvy o poskytování právních služeb.
    Pověřeným subjektem pro mimosoudní řešení spotřebitelských sporů mezi
    advokátem a klientem, který je v postavení spotřebitele, ze smluv o
    poskytování právních služeb je Česká advokátní komora. Více informací o
    mimosoudním řešení sporů Českou advokátní komorou lze nalézt na
    internetových stránkách www.cak.cz
  </span>
</div>
