<section [attr.id]="id">
    <div
        class="footer"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign.gt-sm="space-between center"
        fxLayoutAlign.lt-md="center center">
        <div class="footer__logo-container" fxLayoutAlign="center center">
            <img class="footer__logo-container--img" src="./assets/logos/GaeaLogo1.jpg" />
        </div>
        <div class="footer__contact-container" fxLayout="column">
            <span>Anglické nábřeží 12, Plzeň, Česká republika</span>
            <span><a href="mailto:gaeayoga.cz@gmail.com"> gaeayoga.cz@gmail.com</a></span
            ><span> Věra <a href="tel:+420734703426">+420734703426</a> </span
            ><span>Andres <a href="tel:+420797604944">+420797604944</a></span>
        </div>
        <div class="footer__socials-container" fxLayoutAlign="space-between center">
            <a target="_blank" href="https://www.facebook.com/GaeaYogaPlzen"
                ><i class="fa fa-facebook-f fa-3x cursor-pointer"></i
            ></a>
            <a target="_blank" href="https://www.instagram.com/gaeayoga.cz">
                <i class="fa fa-instagram fa-3x cursor-pointer"></i
            ></a>
            <a target="_blank" href="https://www.youtube.com/@gaeayoga">
                <i class="fa fa-youtube fa-3x cursor-pointer"></i>
            </a>
        </div>
    </div>
</section>
