@import "./../../../scss/variables";

:host {
  width: 100%;
  background-color: $primary;
  background: $primary;
}

.swiper-wrapper {
  padding-top: 120px;
  position: relative;

  &__swiper-image {
    padding: 0 100px;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/headerbg.jpg');
    background-size: 100%;

    &--img {
      width: 100%;
      height: auto;
      
    }

    &__info-container {
      padding-bottom: 100px;
    }
  }
}

.swiper-wrapper-xs {
  position: relative;
  padding-top: 100px;

  &__swiper-image {
    position: relative;
    max-width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/headerbg.jpg');
    background-size: 200%;

    
   &--img {
      position: relative;
      width: 100%;
      height: auto;
      
    }
  }


    &__info-container {
      padding: 20px;
      background-color:$primary ;
      position: relative;
      padding-bottom: 20px;
    }
}

