<div class="lecturers" fxLayout="column" fxLayoutGap="40px" fxLayoutGap.gt-sm="20px">
    <div fxLayout="column" fxLayoutGap="40px">
        <div
            fxFlex="20%"
            fxLayout="row"
            fxLayout.lt-lg="column"
            fxLayoutAlign="space-between"
            fxLayoutAlign.lt-lg="center center">
            <div fxLayoutAlign="center center">
                <img class="lecturers--img" src="./assets/images/vera.png" />
            </div>
            <div fxFlex="70%" fxLayout="column" fxLayoutGap="10px" class="lecturers__profile">
                <h3>Věra Draská</h3>
                <span
                    >Od mala se věnovala tanci a postupně jej obohatila o znalosti v oblasti zdravého pohybu,
                    fyzioterapie, jógy a pilates. Má výcvik v tanečně pohybové terapii a při svých pohybových lekcích
                    jednotlivé přístupy ráda prokládá. Jógu učí od roku 2016 a je certifikovanou Yoga Alliance 200h
                    lektorkou. Při svých cestách po Jihovýchodní Asii měla možnost učit jógu v rámci různorodých
                    mindfulness retreatů v Thajsku, Kambodži a Laosu. Miluje chvíle odpočinku při toulkách přírodou. Má
                    ráda dobré jídlo, natáčení a střih videí, nebo se kreativně se vyřádit u některého ze svých DIY
                    projektů. Neustále se dále vzdělává a pracuje na sobě v různých životních oblastech.
                </span>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between" fxLayoutAlign.lt-lg="center center">
            <div fxLayoutAlign="center center">
                <img class="lecturers--img" src="./assets/images/andres.png" />
            </div>
            <div fxFlex="70%" fxLayout="column" fxLayoutGap="10px" class="lecturers__profile">
                <h3>Andres Morales</h3>
                <span
                    >Charizmatický lektor jógy a pohybu, který se k nám do České Republiky dostal až z rodné Kolumbie.
                    Většinu života však strávil v Madridu ve Španělsku. Za svého života si vyzkoušel různá povolání,
                    avšak nejvíce ho chytla za srdce právě cesta jógy. Učí většinou Hatha jógu a klasické pojetí jógy,
                    které měl možnost vystudovat v Indii a je certifikovaným Yoga Alliance 500h lektorem. Jógu měl
                    možnost učit ve Španělsku a během svých cest po Jihovýchodní Asii v Indii, Nepálu, Thajsku a Laosu.
                    Měl tak možnost nabrat nové zkušenosti a najít styl jógy, který s ním rezonuje nejvíce. Andres je
                    pohodový člověk, který nepohrdne odpočinkem u dobrého filmu a jídla. Rád zkouší nové věci a
                    všestranně se vzdělává.
                </span>
            </div>
        </div>
    </div>
</div>
