@import "./../../../scss/variables";

.pricing-wrapper {
    width: 100%;
    margin-bottom: 80px;

    &__card {
        margin: 20px;
        padding: 40px;
        max-width: 360px;
        border: 2px solid $primary ;
    }
}