<div id="pricing" class="pricing-wrapper" fxLayoutAlign="center center" fxLayout="column">
    <div class="pricing-wrapper__title-wrapper">
        <span class="highlight-container">
            <span class="highlight">
                <h1 class="text-color-white" i18n>Vyberte svůj plán</h1>
            </span>
        </span>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="mb-20">
        <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h3 class="text-color-green pricing-wrapper__card--title">JENDOTLIVÉ VSTUPY</h3>
            <h2 class="text-color-black">200 Kč</h2>
            <span class="text-color-black pricing-wrapper__card--item">60-90 min</span>
            <span class="text-color-black pricing-wrapper__card--item">1 lekce</span>
            <span class="text-color-black pricing-wrapper__card--item"></span>
            <button (click)="navigateToReservation()">Rezervovat</button>
        </div>
        <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h3 class="text-color-green pricing-wrapper__card--title">POUKAZ 4 VSTUPY</h3>
            <h2 class="text-color-black">700 Kč</h2>
            <span class="text-color-black pricing-wrapper__card--item">(ušetříte 100 Kč)</span>
            <span class="text-color-black pricing-wrapper__card--item">Platný 1 měsíc</span>
            <span class="text-color-black pricing-wrapper__card--item">platí pro všechny lekce</span>
            <button (click)="navigateToReservation()">Rezervovat</button>
        </div>
        <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h3 class="text-color-green pricing-wrapper__card--title">POUKAZ 10 VSTUPŮ</h3>
            <h2 class="text-color-black">1 700 Kč</h2>
            <span class="text-color-black pricing-wrapper__card--item">(ušetříte 300 Kč)</span>
            <span class="text-color-black pricing-wrapper__card--item">Platný 3 měsíce</span>
            <span class="text-color-black pricing-wrapper__card--item">platí pro všechny lekce</span>
            <button (click)="navigateToReservation()">Rezervovat</button>
        </div>
        <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h3 class="text-color-green pricing-wrapper__card--title">POUKAZ NA 1 MĚSÍC</h3>
            <h2 class="text-color-black">2 400 Kč</h2>
            <span class="text-color-black pricing-wrapper__card--item">neomezený vstup</span>
            <span class="text-color-black pricing-wrapper__card--item">platné pro všechny lekce</span>
            <span class="text-color-black pricing-wrapper__card--item"></span>
            <button (click)="navigateToReservation()">Rezervovat</button>
        </div>
        <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h3 class="text-color-green pricing-wrapper__card--title">3 MĚSÍČNÍ ČLENSTVÍ</h3>
            <h2 class="text-color-black">6000 Kč</h2>
            <span class="text-color-black pricing-wrapper__card--item">neomezený vstup</span>
            <span class="text-color-black pricing-wrapper__card--item">platné pro všechny lekce</span>
            <span class="text-color-black pricing-wrapper__card--item"></span>
            <button (click)="navigateToReservation()">Rezervovat</button>
        </div>
    </div>
</div>
