<div
  id="pricing"
  class="pricing-wrapper"
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <h3 class="text-color-green" i18n>Vyberte svůj plán</h3>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <h3 class="text-color-green">STANDARD</h3>
            <h1 class="text-color-black">39 Kč</h1>
            <span class="text-color-black">PER MONTH</span>
            <span class="text-color-black">Limited training hours</span>
            <span class="text-color-black">No cancel at any time</span>
            <span class="text-color-black">No hidden fees</span>
            <span class="text-color-black">No ancillaries access</span>
            <button>Rezervovat</button>
    </div>
    <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <h3 class="text-color-green">STANDARD</h3>
            <h1 class="text-color-black">39 Kč</h1>
            <span class="text-color-black">PER MONTH</span>
            <span class="text-color-black">Limited training hours</span>
            <span class="text-color-black">No cancel at any time</span>
            <span class="text-color-black">No hidden fees</span>
            <span class="text-color-black">No ancillaries access</span>
            <button>Rezervovat</button>
    </div>
    <div class="pricing-wrapper__card" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
        <h3 class="text-color-green">STANDARD</h3>
            <h1 class="text-color-black">39 Kč</h1>
            <span class="text-color-black">PER MONTH</span>
            <span class="text-color-black">Limited training hours</span>
            <span class="text-color-black">No cancel at any time</span>
            <span class="text-color-black">No hidden fees</span>
            <span class="text-color-black">No ancillaries access</span>
            <button>Rezervovat</button>
    </div>
  </div>

   
</div>
