<div class="wrapper">
  <div class="wrapper__inner-content">
    <app-header></app-header>
    <app-profile-photo></app-profile-photo>
    <app-section title="O NÁS" id="about" imgSrc="../../../assets/images/about.jpg" [texts]="aboutTexts"></app-section>
    <app-section title="AKCE" id="actions" imgSrc="../../../assets/images/actions.jpg" [texts]="actionsTexts"></app-section>
    <app-section title="LEKCE" id="lessons" imgSrc="../../../assets/images/lessons.jpg" [texts]="lessonTexts"></app-section>
    <app-pricing></app-pricing>
    <app-footer id="footer"></app-footer>
  </div>
</div>