:host {
  width: 100%;
  margin-bottom: 60px;
}

.swiper-wrapper {
  &__swiper-image {
    position: relative;
    max-width: 100%;
    height: 100%;

    &--img {
      width: 100%;
      height: auto;
    }

    &--text {
      position: absolute;
      top: 0;
      left: 20px;
    }
  }
}

.text {
  text-align: justify;
  white-space: pre-wrap;
}
