<div fxLayout="column" fxLayoutAlign="center flex-start" class="full-width">
  <h1 i18n>Služby</h1>
  <div (click)="stopTimeout()" class="swiper-wrapper full-width">
    <swiper
      [effect]="'fade'"
      (swiper)="onSwiper($event)"
      #swiper
      (slideChange)="onSlideChange($event)"
      [loop]="true"
      [autoplay]="{
        delay: 1000,
        disableOnInteraction: true
      }"
      [pagination]="{ clickable: true }"
    >
      <ng-template swiperSlide *ngFor="let slide of swiperData">
        <div class="swiper-wrapper__swiper-image">
          <img class="swiper-wrapper__swiper-image--img" [src]="slide.src" />
          <h2 class="swiper-wrapper__swiper-image--text">{{ slide.title }}</h2>
        </div>
      </ng-template>
    </swiper>
  </div>
  <div class="text">
    <span [innerHTML]="getData(swiperData)"> </span>
  </div>
</div>
