<section [attr.id]="id" class="section-wrapper">
    <section class="section-wrapper__header-wrapper">
        <div class="section-wrapper__header-wrapper__header">
            <img [src]="imgSrc"/>
            <div class="container">
                <span class="highlight-container"><span class="highlight"><h1 class="section-wrapper__header-wrapper__header--title">{{ title }}</h1></span></span>
            </div>
        </div>
    </section>
    <section class="section-wrapper__body-wrapper" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="40px" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="50%" class="section-wrapper__body-wrapper__quote">
            <h1>"{{ text.quote }}„</h1>
        </div>
        <div class="section-wrapper__body-wrapper__text" fxLayout="column">
            <span class="section-wrapper__body-wrapper__text--text">{{ text.text }}</span>
            <button>REZERVOVAT</button>
        </div>
    </section>
</section>

